.progress-bar {
    width: 90%;
    height: 4px;
    background-color: #ffffff;
    /* border: 1px solid #ccc; тимчасова рамка для діагностики */
    position: relative;
    cursor: pointer;
    margin-bottom: 8px;
}

.progress-bar__fill {
    height: 100%;
    background-color: #f50; 
    width: 0%;
    transition: width 0.2s ease-in-out;
}

.progress-bar__thumb {
    position: absolute;
    top: -3px;
    height: 11px;
    width: 11px;
    border-radius: 50%;
    background-color: #f50;
    cursor: pointer;
    z-index: 2;
    transition: left 0.2s ease-in-out;
}
